<style>

  .logo
  {
    border-radius: 100%;
  }

  #logoName
  {
    list-style-type: none;
    color: white;
    font-family: marker felt;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
  }  

  #icon
  {
    padding: 2px 2px;
    height: 30px;
    width: 30px;
    float: right;
  }

  #apparelButton
  {
    background-color: #1d3c62;
    color: white;
    font-size: 20px;
    font-family: marker felt;
    float: center;
    padding: 15px 15px;
  }

  #apparelButton:hover
  {
    background-color: hsla(264, 100%, 80%, 0.3);
    color: #000000;
  }

  #hotelButton
  {
    background-color: #1d3c62;
    color: white;
    font-size: 20px;
    font-family: marker felt;
    float: center;
    padding: 15px 15px;
  }

  #hotelButton:hover
  {
    background-color: hsla(36, 100%, 50%, 0.3);
    color: #000000;
  }

</style>